div.blog-post {
    text-align: justify;
}

div.blog-post p:not([class]) {
    margin-right: 0.9375rem;
}

img.not-found {
    width: 40%;
    height: auto;
}

.box-hands-on {
    padding: 0.9375rem 0.9375rem 0.9375rem 0.625rem;
    margin: 1.25rem 1.25rem 1.25rem 0.3125rem;
    border: 1px solid #eee;
    border-left-width: 0.3125rem;
    border-radius: 25px;
}

.box-hands-on {
    background-color: #f2dbf4;
    border-left-color: #c02bac;
}

.box-hands-on :first-child:has(+ p) {
    margin-bottom: -0.9375rem;
}

p:has(+ div.highlighter-rouge) {
    margin-bottom: 0.46875rem;
}

.box-hands-on :last-child {
    margin-bottom: 0;
}

.box-nerd-corner {
    padding: 0.9375rem 0.9375rem 0.9375rem 0.625rem;
    margin: 1.25rem 1.25rem 1.25rem 0.3125rem;
    border: 1px solid #eee;
    border-left-width: 0.3125rem;
    border-radius: 25px;
    background-color: #f4e5db;
    border-left-color: #c05f2b;
}

/* Copy code to clipboard */

span.language-name {
    display: inline-flex;
    align-items: center;
    font-family: monospace;
    font-size: 0.7rem;
    color: #ffffff;
    padding-left: 0.4375rem;
}

div.copy-code {
    display: flex;
    justify-content: space-between;
    background-color: #444444;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

pre.highlight {
    border-radius: 0px;
}

div.copy-code > button {
    font-family: 'Lora', 'Times New Roman', serif;
    font-size: 0.7rem;
    background-color: #444444;
    color: #ffffff;
    border-width: 0;
    outline: none;
    border-top-right-radius: 10px;
}

.intro-header.big-img .post-heading {
    padding: 0;
    margin: auto;
    max-width: 720px;
}

.intro-header .container-md:has(.post-heading) {
    max-width: none;
    padding: 9.375rem 0;
    /* background-color: #000000a0; */
    /* background: linear-gradient(90deg, #00000000 0%, #000000a0 25%, #000000a0 75%, #00000000 100%);     */
    background: linear-gradient(90deg, #00000000 0%, #000000a0 50%, #00000000 100%);    
    background-clip: content-box, padding-box;
}

.post-heading h2,
.post-heading h4 {
    margin-top: 0.5rem;
}

/* Solution div styling */
details div {
    margin-left: 0.45rem;
    padding: 0.75rem;
    background-color: #f8f9fa;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* Full-width table styling */
.table-full-width {
    width: 100%;
    max-width: 100%;
}

/* Styles for email subscription form */
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    padding: clamp(17px, 5%, 40px) clamp(17px, 7%, 50px) !important;
    max-width: none !important;
    border-radius: 6px !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview,
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview *{
    box-sizing: border-box !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-heading {
    width: 100% !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-heading h5{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field {
    margin-top: 20px !important;
    width: 100% !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input {
    width: 100% !important;
    height: 40px !important;
    border-radius: 6px !important;
    border: 2px solid #e9e8e8 !important;
    background-color: #fff;
    outline: none !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input {
    color: #000000 !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input::placeholder {
    color: #000000 !important;
    opacity: 1 !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input:-ms-input-placeholder {
    color: #000000 !important;
}

.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-input-field input::-ms-input-placeholder {
    color: #000000 !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button {
    margin-top: 10px !important;
    width: 100% !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button button {
    width: 100% !important;
    height: 40px !important;
    border: 0 !important;
    border-radius: 6px !important;
    line-height: 0px !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .form-preview .preview-submit-button button:hover {
    cursor: pointer !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .powered-by-line {
    color: #231f20 !important;
    font-family: "Montserrat" !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 25px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: flex !important;
    width: 100% !important;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 10px !important;
}
.followit--follow-form-container[attr-a][attr-b][attr-c][attr-d][attr-e][attr-f] .powered-by-line img {
    margin-left: 10px !important;
    height: 1.13em !important;
    max-height: 1.13em !important;
}
/* End of styles for email subscription form */
